In [55]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# import KMeans
from sklearn.cluster import KMeans

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['catatan_lokasi.csv', 'data_profil.csv']

In [83]:
file_path_location = "../input/catatan_lokasi.csv"

data_location = pd.read_csv(file_path_location, index_col="id")

data_location.groupby('lokasi_dominan').lokasi_dominan.count()

lokasi_dominan
Jakarta Barat                155
Jakarta Pusat                145
Jakarta Selatan              105
Jakarta Timur                163
Jakarta Utara                100
Kabupaten Bantul              68
Kabupaten Bekasi             122
Kabupaten Bogor               98
Kabupaten Kebumen              7
Kabupaten Lampung Selatan     61
Kabupaten Sleman             120
Kabupaten Tangerang           79
Kabupaten Tasikmalaya         35
Kabupaten Wonogiri            71
Kota Banda Aceh               10
Kota Bandar Lampung           58
Kota Bandung                  54
Kota Bekasi                  165
Kota Bogor                   155
Kota Depok                   177
Kota Manado                   33
Kota Medan                    85
Kota Padang                   81
Kota Semarang                 41
Kota Surabaya                 52
Kota Tangerang               127
Kota Tangerang Selatan       116
Kota Yogyakarta              117
Name: lokasi_dominan, dtype: int64

In [112]:
file_path_profile = "../input/data_profil.csv"

data_profile = pd.read_csv(file_path_profile, index_col="id")

data_profile.divisi.value_counts()

data_profile.groupby(['divisi','jenis_kelamin']).size()
data_profile.groupby(['divisi','umur']).size()
data_profile.loc[data_profile.loc[:,'divisi']== 'Data Science']

   jenis_kelamin        divisi  umur
id
10     Laki-laki  Data Science    21
27     Perempuan  Data Science    34
34     Perempuan  Data Science    23
35     Perempuan  Data Science    26
50     Laki-laki  Data Science    35
61     Perempuan  Data Science    33
73     Laki-laki  Data Science    24
80     Perempuan  Data Science    33
81     Laki-laki  Data Science    30
93     Perempuan  Data Science    27

In [122]:
left = data_location
right = data_profile

result = left.join(right, how = "inner")
result.loc[result.loc[:,'tanggal'] == '14/06/19'].lokasi_dominan.value_counts()
result.loc[result.loc[:,'lokasi_dominan'] == 'Kota Medan']
result.to_csv ('profile_location_table.csv', index = True)

In [ ]:
result.groupby(['lokasi_dominan','divisi']).size()
result.lokasi_dominan.str.contains('Jakarta Timur').value_counts()[True]